body{
    background-image: url(img/brancoback.jpg);
}

* #perfil{
    float: left;
    border-radius: 25px;
    margin-left: 400px;
    margin-top: 25px;
    width: 150px;
    height: 200px;
}

#Topo{
    border: 2px black solid;
    background-color: rgba(39, 114, 255, 0.788);
    height: 250px;
    margin-top: 60px;
    margin-right: 90px;
    margin-left: 90px;
}

#InformaçõesPessoais{
    margin-top: 100px;
    margin-left: 550px;
}

#Nome{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#email{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-left: 42px;
}

#SobreMim{
    border: 2px black solid;
}

#Sobremimtxt{
    margin: 5px 5px 5px 5px;
}