body{
    background-image: url(img/brancoback.jpg);
}

* #perfil{
    border-radius: 25px;
    margin-left: 200px;
    margin-top: 40px;
    width: 150px;
    height: 200px;
}

#Topo{
    border: 2px black solid;
    background-color: rgba(39, 114, 255, 0.788);
    height: 280px;
    margin-top: 60px;
    margin-right: 90px;
    margin-left: 90px;
}

#Nome{
    margin-left: 180px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
}

#email{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-left: 70px;
}

#SobreMim{
    border: 2px black solid;
}

#Sobremimtxt{
    margin: 5px 5px 5px 5px;
}