body{
    background-image: url(img/walp.jpg);
}

* #Topo{
    background-color: rgba(39, 114, 255, 0.788);
    height: 230px;
    margin-top: 60px;
    margin-right: 90px;
    margin-left: 90px;
}

#perfil{
    float: left;
    border-radius: 25px;
    margin-left: 400px;
    margin-top: 18px;
    width: 150px;
    height: 200px;
}

#Nome{
    margin-left: 180px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#informations{
    margin-left: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#SobreMim{
    margin-left: 800px;
}

#Sobremimtxt{
    font-size: 60px;
}

#conteudosobremim{
    font-size: 30px;
    margin-left: 250px;
}